@import url('https://fonts.googleapis.com/css?family=Roboto');
 body {
	 background: #99c;
	 padding: 0;
	 margin: 0;
	 position: relative;
	 font-family: 'Roboto', sans-serif;
}
 footer {
	 background: #666;
	 text-align: center;
	 line-height: 1.5em;
	 padding: 2.5em 0;
	 color: #fff;
}
 h1 {
	 color: #666;
	 position: relative;
	 z-index: 1;
	 transition: all 1.5s ease-in-out;
}
 .paper {
	 width: 15em;
	 height: 20em;
	 position: absolute;
	 display: block;
	 top: 1em;
	 left: 2.5em;
	 background: #fff;
	 -webkit-transition: 1.5s ease-in-out;
	 -moz-transition: 1.5s ease-in-out;
	 transition: all 1.5s ease-in-out;
	 z-index: 1;
	 text-align: center;
	 padding: 1em;
	 box-sizing: border-box;
}
 .back {
	 display: block;
	 position: relative;
	 background: #bbb;
	 top: 0;
	 height: 0;
	 width: 20em;
	 height: 20em;
	 content: "";
	 -webkit-transition: 1.5s ease-in-out;
	 -moz-transition: 1.5s ease-in-out;
	 transition: all 1.5s ease-in-out;
	 box-shadow: 0 0 1em rgba(68, 68, 136, .15);
	 z-index: 0;
}
 .container {
	 margin: 0 auto 0 auto;
	 padding: 10em 1em 1em 1em;
	 width: 20em;
	 height: 30em;
	 position: relative;
	 overflow: hidden;
	 display: block;
	 z-index: 0;
	 transition: all 1.5s ease-in-out;
}
 .container .cover {
	 position: absolute;
	 top: 0em;
	 left: 50%;
	 height: 1em;
	 display: block;
	 -moz-transform: translate(-50%, 0%) scaleY(1);
	 -webkit-transform: translate(-50%, 0%) scaleY(1);
	 transform: translate(-50%, 0%) scaleY(1);
	 -webkit-transform-origin: 0% 50%;
	 -ms-transform-origin: 0% 50%;
	 transform-origin: 0% 50%;
	 margin: 0 auto;
	 border: 10em solid transparent;
	 border-top: 10em solid #fff;
	 -webkit-transition: all 1.5s ease-in-out;
	 -moz-transition: all 1.5s ease-in-out;
	 transition: z-index 1.5s ease-in-out, transform 1.5s ease-in-out, border-top 1.5s ease-in-out;
	 transition-delay: 1.5s;
	 z-index: 30;
}
 .container:hover .back {
	 top: 10em;
	 z-index: 0;
}
 .container:hover .back .paper {
	 top: -12em;
	 z-index: 45;
	 height: 20em;
	 transition: z-index 1.5s ease-in-out, top 1.5s ease-in-out, height 1.5s ease-in-out;
	 transition-delay: 1.5s;
}
 .container:hover .cover {
	 border-top: 10em solid #eee;
	 -moz-transform: translate(-50%, -100%) scaleY(-1);
	 -webkit-transform: translate(-50%, -100%) scaleY(-1);
	 transform: translate(-50%, -100%) scaleY(-1);
	 z-index: 0;
	 transition-delay: 0s;
}
 .container .bottom {
	 width: 0;
	 margin: 0 auto;
	 height: 8em;
	 position: relative;
	 top: 0em;
	 display: block;
	 border-left: 10em solid #eee;
	 border-right: 10em solid #eee;
	 border-bottom: 7em solid #eee;
	 border-top: 10em solid transparent;
	 -webkit-transition: 1.5s ease-in-out;
	 -moz-transition: 1.5s ease-in-out;
	 transition: 1.5s ease-in-out;
	 z-index: 100;
}
 